.fa-user{
    font-size: 1.05rem;
}
.account-btn{
    box-shadow: none;
}

.ant-popover-inner{
    width: 220px;
    padding: 20px !important;
   margin-top: -55px;
   margin-left: -370px !important;
//    background-color: black !important;
   color: #fff !important;
   .ant-popconfirm-title{
    // color: #fff !important;
   }
}