.shop{
    font-family: s;
   
    .shop-banner{
        height: 220px;
        width: 100%;
        position: relative;
        img{
            height: 100%;
            width: 100%;
        }
        .banner-title{
            position: absolute;
            top: 30%;
            color: #fff;
            width: 40%;
            left: 30%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
        }
    }
    .shop-content{
        border-top: 1px solid rgb(238, 230, 230);
        margin-top: 15px;
        display: flex;
        .content-left{
            width: 16%;
            
            .left-chirld{
                padding: 10px 15px;
                h4{
                    padding-bottom: 10px;
                    display: flex;
                    justify-content: left;
                    align-items: center;
                    cursor: pointer;
                }
            }
            .left-video{
                padding-top: 0px ;
                width: 100%;
                .video{
                    width: 100%;
                }
            }
        }
        .content-right{

            width: 84%;
            background-color: rgb(255, 252, 252);
        }
        
    }
}
.categories-title{
    background-color: black;
    color: #fff;
    width: 100%;
    padding: 7px 10px;
}
.arow-icon{
    width: 21px;
    margin-right: 10px;
}