*{
    font-family: s;
}
.close-btn {
    padding: 5px 18px;
    border-radius: 8px;
}
.sendbtn{
    padding: 5px 18px;
    border-radius: 8px;
    background-color: black;
    color: #fff;
}
.fgPass{
    cursor: pointer;
    color: black;
    
}