.receipt-container{
    background-image: linear-gradient(rgb(255, 255, 255), rgb(159, 201, 147));
}
.card-body2{
    display: flex;
    justify-content: space-between !important;
    padding: 15px ;
    border-bottom: 1px solid rgb(209, 208, 208);
}