.receipt-container{
    background-image: linear-gradient(rgb(255, 254, 254), rgb(197, 199, 197));
}
.card-body2{
    display: flex;
    justify-content: space-between !important;
    padding: 15px ;
    border-bottom: 1px solid rgb(209, 208, 208);
}
.receiptnull{
    height: 80vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}