.update-product {
    border: 1px solid black;
    // max-width: 30%;
    height: 100vh;
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: #fff;
    background: #fff;
    padding: 30px;
    overflow-y: scroll;


    .product-image {
        img {
            width: 200px;
            background: #fff;
        }
    }

    .form-group {
        margin-bottom: 10px;

        input {
            outline: none;
            border: 1px solid black;
            border-radius: 4px;
            padding: 7px;
            width: 100%;
        }

        select {
            border: 1px solid black;
            padding: 7px;
            border-radius: 4px;
            outline: none;
        }

        textarea {
            border: 1px solid black;
            padding: 7px;
            border-radius: 4px;
            outline: none;
        }
    }

    .save-button {
        background-color: black;
        color: #fff;
        padding: 7px 20px;
        border-radius: 4px;
    }
}

.update-product.open {
    display: block;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.update-product {
    /* ... */
    transition: transform 0.9s ease;
    /* Thêm transition */
}

// .update-product.open {
//     transform: translateX(0%);
//     /* Hiển thị modal */
// }

// .update-product.closed {
//     transform: translateX(100%);
//     /* Ẩn modal đi bên phải */
// }

.update-option{
    .option-item{
        border-bottom: 1px solid grey;
        padding: 15px 0;
    }
   
    .option-title{
        width: 100%;
        padding: 10px;
        position: relative;
        .fa-duotone{
            position: absolute;
            top: 10px;
            right: 30px;
        }
    }
    .img-option{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        img{
            width: 85px;
            height: 85px;
            border-radius: 50%;
        }
    }

}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 27px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 1px;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left:1px;
  
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }