.title-cart {

    h5 {
      	font-family: s;
	-webkit-font-smoothing: antialiased;
        font-weight: 400;
        font-style: normal;
        line-height: 1.4em;
        color: #6a5b5c;
        margin: 0 0 0.7em;
        padding: 0;
        font-size: 25px;
    }
}

.offcanvasCart {
    width: 600px !important;
    max-height: 100vh !important;
}
.checkoutA{
    cursor: pointer;
    margin: 0 auto;
    background-color: rgb(127, 173, 57);
    color: #fff;
    // height: 20px;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    margin-top: 20px;
    border-radius: 8px;
    font-weight: 600;
}
.checkoutA:hover{
    background-color: rgb(113, 175, 19) ;
    color: #fff;
    // border: 1px solid rgb(120, 179, 33);
}
.loading-wrapper-cart{
    // height: 300px;
    position: absolute;
    // top: -150px;
}
.containerCartDetail{
    position: relative;
    height: 500px;
    overflow-y: scroll;

   
}
.click_cart{
    position: relative;
    box-shadow: none;
    .quantityInCart{
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color:  rgb(113, 175, 19);
        position: absolute;
        top: 0px;
        left: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-weight: 550;
        font-size: 13px;
    }
    
}
.click_cart:hover{
    box-shadow: none;
}
.fa-shopping-bag{
    font-size: 1.05rem;
}
.final-checkout{
    border-top: 1px solid grey;
    .noteA{
        padding-top: 20px;
        display: flex;
        p{
            padding: 0 5px 0 35px;
        }
        .textarea{
            border: 1px solid grey;
        }
    }
    .total-container{
        padding: 20px 35px;
        display: flex;
        justify-content: space-between;
        .total{
            font-size: 1.3rem;
        }
    }
    .checkout-btn{
        width: 70%;
        margin: 0 auto;
        margin-left: 15%;
        padding: 10px;
        border-radius: 12px;
        background: -webkit-linear-gradient(left, #656563, #0a0808);
        color: #fff;
    }
}
.noEmptyCart{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    p{
        font-size: 1.5rem;
        padding-top: 20px;
    }
}
.btn-5,
.btn-5 *,
.btn-5 :after,
.btn-5 :before,
.btn-5:after,
.btn-5:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-5 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
}
.btn-5:disabled {
  cursor: default;
}
.btn-5:-moz-focusring {
  outline: auto;
}
.btn-5 svg {
  display: block;
  vertical-align: middle;
}
.btn-5 [hidden] {
  display: none;
}
.btn-5 {
  border-radius: 99rem;
  border-width: 2px;
  overflow: hidden;
  padding: 0.8rem 3rem;
  position: relative;
}
.btn-5 span {
  mix-blend-mode: difference;
}
.btn-5:before {
  --tilt: 1.4rem;
  background: #fff;
  border: 3px solid black;
  border-radius: 99rem;
  -webkit-clip-path: polygon(
    0 0,
    calc(100% - var(--tilt)) 0,
    100% 50%,
    calc(100% - var(--tilt)) 100%,
    0 100%
  );
  clip-path: polygon(
    0 0,
    calc(100% - var(--tilt)) 0,
    100% 50%,
    calc(100% - var(--tilt)) 100%,
    0 100%
  );
  content: "";
  display: block;
  height: 100%;
  left: calc(-100% - var(--tilt));
  position: absolute;
  top: 0;
  transform: translateX(var(--progress, 0));
  transition: transform 0.2s ease;
  width: calc(100% + var(--tilt));
}
.btn-5:hover:before {
  --progress: 100%;
}
