/* Importing Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {

    min-height: 100vh;
    width: 100%;
    background-image: url("../../../public/images/hero-bg.jpg");
    // background-image: url("https://i.pinimg.com/564x/e3/1d/3d/e31d3de7eba870f05638e8e9c54a5c4e.jpg");
    background-position: center;
    background-size: cover;
    // background-size: 90% 90vh;
    background-repeat: no-repeat;
}
.admin-section {
    width: 100%;    
    height: 100vh;
   
    display: flex;
    transition: width 0.3s ease;
    padding-left: 140px;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 110px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(17px);
    --webkit-backdrop-filter: blur(17px);
    border-right: 1px solid rgba(255, 255, 255, 0.7);
    transition: width 0.3s ease;
}


/* Ban đầu, định nghĩa các thuộc tính cho .admin-content */
.admin-content {
    // margin-left: 140px; /* Hoặc giá trị ban đầu của margin-left */
    // padding-top: 0; /* Hoặc giá trị ban đầu của padding-top */
    // border: none; /* Hoặc giá trị ban đầu của border */
    width: 100%;
    height: 100%;
 
    transition: margin-left 0.3s, padding-top 0.3s, border 0.3s; /* Thêm hiệu ứng chuyển động (nếu bạn muốn) */
}
.sidebar:hover {
    width: 260px;   
}

/* Khi .sidebar được hover, áp dụng các thuộc tính cho .admin-content */
.sidebar:hover + .admin-content {
    margin-left: 170px;

}

.sidebar .logo {
    color: #000;
    display: flex;
    align-items: center;
    padding: 25px 10px 15px;
}

.logo img {
    width: 43px;
    border-radius: 50%;
}

.logo h2 {
    font-size: 1.15rem;
    font-weight: 600;
    margin-left: 15px;
    display: none;
}

.sidebar:hover .logo h2 {
    display: block;
}

.sidebar .links {
    list-style: none;
    margin-top: 20px;
    overflow-y: auto;
    scrollbar-width: none;
    height: calc(100% - 140px);
}

.sidebar .links::-webkit-scrollbar {
    display: none;
}

.links li {
    display: flex;
    border-radius: 4px;
    align-items: center;
}

.links li:hover {
    cursor: pointer;
    background: #fff;
}

.links h4 {
    color: #222;
    font-weight: 500;
    display: none;
    margin-bottom: 10px;
}

.sidebar:hover .links h4 {
    display: block;
}

.links hr {
    margin: 10px 8px;
    border: 1px solid #4c4c4c;
}

.sidebar:hover .links hr {
    border-color: transparent;
}

.links li span {
    padding: 12px 10px;
}

.links li a {
    padding: 10px;
    color: #000;
    display: none;
    font-weight: 500;
    white-space: nowrap;
    text-decoration: none;
}

.sidebar:hover .links li a {
    display: block;
}

.links .logout-link {
    margin-top: 20px;
}
// .admin-content{
//     margin-left: 280px;
//     padding-top: 50px;
//     border: 1px solid black;
// }
.admin-content{
    width: 100%;
}