
  * {
    box-sizing: border-box;
  }
  h3{
    padding-bottom: 4%;
  }
  .row-checkout {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  
  .col-35 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
  }
  
  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }
  
  .col-65 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
  }
  
  .col-35,
  .col-50,
  .col-65 {
    padding: 0 16px;
  }
  
  .container-checkout {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }
  
  input[type=text] {

    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;

  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  .icon-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
    span{
      margin-left: 10px;
    }
    img{
      width: 25px;
      margin-left: 10px;
    }
  }

  input[type=radio] {
    display: block;
   
  }
  
  .btn-checkout {
    background-color: rgb(12, 12, 11);
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
   
  }
  
  .btn:hover {
    background-color:#fff;
    color: rgb(13, 14, 12);
    border: 2px solid rgb(8, 8, 8)
  }
  
  a {
    color: #2196F3;
  }
  
  hr {
    border: 1px solid lightgrey;
  }
  
  span.price {
    float: right;
    color: grey;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
  @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-35 {
      margin-bottom: 20px;
    }
  }

  .bannerCheckout{

  }
  
.banner-container {
  position: relative;
  .title-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
      position: absolute;
      top: 35%;
      left: 25%;
      color: #fff;
      
  }
}

.bannerProducts{
  display: flex;
  justify-content: center;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/md05furniturestore.appspot.com/o/test%2Fck.jpg?alt=media&token=4515979d-1545-44cd-8c67-0e9faacff047&_gl=1*130khyz*_ga*MTg1ODg5NjEyOS4xNjg4MDg4OTU3*_ga_CW55HF8NVT*MTY5NTk4NDE1Ni40Ni4xLjE2OTU5ODQyMzUuNDMuMC4w");
  background-position: center center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
  img{
      width: 50%;
  }
}

.bannerProducts-over::after {
  background: none;
  background-color: #2c252847;
  height: 250px;
  width: 100%;

  content: "";
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
}

.loading-spinner {
  margin-top: 10px;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #ffffff;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}
.loading-button {
  width: 100%;
  background-color: rgb(16, 17, 15);
  border-radius: 10px;
  padding: 7px;


}
.payment-container{
  display: flex;
  .icon-container{
    padding-left: 40px;
  }
}
h3{
  margin-bottom: 0 !important;
  padding-bottom: 0;
}
.item-cart-checkout{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.checkout-container {
  width: 100%;
  position: relative;
}

.qrContainer {
  width: 100%;
  background-color: rgb(250, 247, 247);
  height: 90vh;
  position: absolute;
  z-index: 3;
  opacity: 0.85;
}

.qrContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: -1;
}

.qrContainer-chirld {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 350px;
  height: 450px;
  background-color:#fff;
  z-index: 6 !important;
  opacity: 1;
  box-shadow: 0px 1px 10px 3px rgba(94, 94, 94, 0.8);
  border-radius: 12px;
  margin: 0 auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .logoQr{
    width: 50px;
    height: 50px;
  }
  h4{
    font-weight: 550;
    font-size: 1.5rem;
    color: black;
  }
}