.click_search{
    box-shadow: none;
}
.fa-magnifying-glass{
    font-size: 1.05rem;
}


.search_top{
    width:100% ;
    max-width: 1410px; /* Set the desired maximum width */
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    .search_input {
        width: 100%;
        border: 1px solid rgb(194, 193, 193);
        padding: 15px;
    }
    .inputSearch{
        width: 90%;
    }
}

.search_body{
    width: 100%;
    max-width: 1410px;

    display: flex;
    margin: 0 auto;
    .search_categories{
        width: 20%;
        h4{
            padding-bottom: 15px;
        }
        p {
            font-weight: 600;
            font-size: 18px ;
            cursor: pointer;
           
        }
    }
    .container_search {
        width: 80%;
        max-width: 1410px; /* Set the desired maximum width */
        margin: 0 auto;    /* Center the content horizontally */
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        
        .search_item{
            margin-bottom: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 23%;
            height: 220px;
            img{
                width: 80%;
                height: 80%;
                padding-bottom: 5px;
                border-radius: 10px;
            }
            .name_item_search{
                // padding-left: 10%;
            }
        }
      }
}

.offcanvas {
    min-height: 57vh;
}

.click_search{
    border: none !important;
    outline: none;
    color: black;
    margin: 0 -10px;
}
.click_search:hover{
        background-color: #e4e3e3f6;
        border: none !important;
        outline: none;
        color: black;
        margin: 0 -10px;
}
