.home-page{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    .home-page-content{
        width: 100%;
        max-width: 1440px;
        height: 100%;
   
    }
}
