.container-nav {
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: #fff;

    .nav-top {
        background-color: rgb(20, 11, 11);
        color: aliceblue;
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            margin-bottom: 0;
            padding: 5px 10px;
        }

        .carousel-container {
            background-color:rgb(17, 15, 15);
            color: #fff;
            text-align: center;
            height: 30px;
            width: 50%;
            .title {
                color:#fff;
                font-size: 16px;
                padding: 0px ;
                // margin-top: 15px;
            }
        }
        .nav-top-left{
            width: 15%;
        }
        .nav-top-right {
            width: 15%;
            span {
                margin-right: 5px;
                padding-right: 10px;
                border-right: 2px solid #fff;
                font-size: 16px;
            }
            .selectLanguage{
                font-size: 12px;
            }
        }
    }

    .nav-bt {
        padding: 0 20px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center !important;

        .logo {
            width: 13%;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            img {
                width: 40%;
                margin: 0 auto;
            }
        }

        .nav-title {
            font-family: "FuturaPT-Book";
            display: flex;
            width: 35%;
            justify-content: space-between;
            align-items: center;
            font-size: 20px;

            p {
                margin-bottom: 0;
                cursor: pointer;
            }

        }

        .nav-icon {
            width: 13%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}